{% extends 'base.html' %}
{% load i18n %}



{% block content %}
<main id="main">
  <section class="container mt-5">
    <h1>درباره ما</h1>
    <p>
        درباره اطلس 
        <br>
        به «وبلاگ اطلس» خوش آمدید! در دنیای پیچیده و پر از اطلاعات امروز، «اطلس» راهنمای شما برای پیمایش در سرزمین بی‌کران دانش و ایده‌هاست. ما این وبلاگ را با یک هدف اصلی ساختیم: ایجاد فضایی برای کنجکاوی، یادگیری و کشف.
        <br>
        مأموریت ما:
        <br>
        مأموریت ما در اطلس ساده است ما موضوعات جذاب و مهم را از زوایای مختلف بررسی کرده و یافته‌های خود را به زبانی ساده و کاربردی با شما به اشتراک می‌گذاریم. حوزه فعالیت ما گسترده است و شامل موارد زیر می‌شود:
        
            تکنولوژی و امنیت: جدیدترین روندها، ابزارها و نکات برای زندگی در دنیای دیجیتال.
        
            آموزشی: مهارت‌های جدید، راهنماهای یادگیری و مطالب الهام‌بخش.
        
            طبیعت و ورزش: سفری به دنیای شگفت‌انگیز طبیعت و هیجان دنیای ورزش.
        
            سبک زندگی: ایده‌هایی برای بهبود کیفیت زندگی روزمره.
        <br>
        فلسفه ما:
        <br>
        ما باور داریم که یادگیری یک سفر بی‌پایان است و کنجکاوی، قدرتمندترین موتور برای حرکت در این مسیر است. هر مقاله‌ای که در اطلس منتشر می‌شود، حاصل ساعت‌ها تحقیق، علاقه و تلاش برای ارائه محتوایی دقیق و قابل اعتماد است. ما به دنبال کیفیت هستیم، نه کمیت.
        <br>
        به ما بپیوندید
        <br>
        اطلس فقط یک وبلاگ نیست؛ یک جامعه برای افراد کنجکاو و پرسشگر است. از شما دعوت می‌کنیم تا در بخش دیدگاه‌ها نظرات خود را با ما و دیگران به اشتراک بگذارید، مقالات مورد علاقه خود را دنبال کنید و با عضویت در خبرنامه ما، همواره از جدیدترین مطالب باخبر شوید.
        
        از اینکه بخشی از سفر خود را با ما همراه هستید، سپاسگزاریم.
    </p>
  </section>
</main>
{% endblock content %}